<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vimora">
        <activity
            android:name=".trainer.TrainerRemindActivity03"
            android:exported="false" />
        <activity
            android:name=".trainee.TraineeRemindActivity02"
            android:exported="false" />
        <activity
            android:name=".trainer.TrainerRemindActivity02"
            android:exported="false" />
        <activity
            android:name=".trainer.TrainerRemindActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".Signup2Activity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".trainee.TraineeProfileActivity01"
            android:exported="false" />
        <activity
            android:name=".trainee.TraineeListTrainersActivity"
            android:exported="false" />
        <activity
            android:name=".trainer.TrainerPlanActivity1"
            android:exported="true"
            android:theme="@style/Theme.Vimora" />
        <activity
            android:name=".trainer.TrainerPlanActivity2"
            android:exported="true" />
        <activity
            android:name=".trainer.TrainerPlanActivity3"
            android:exported="true" />
        <activity
            android:name=".trainer.TrainerProfileActivity1"
            android:exported="true" />
        <activity
            android:name=".trainer.TrainerProfileActivity2"
            android:exported="true" />
        <activity
            android:name=".trainer.TrainerProfileActivity3"
            android:exported="true" />
        <activity
            android:name=".trainer.TrainerTrackActivity"
            android:exported="true" />
        <activity
            android:name=".trainee.TraineeProfileActivity"
            android:exported="true" />
        <activity
            android:name=".trainee.TraineePlanActivity01"
            android:exported="true" />
        <activity
            android:name=".trainee.TraineeRemindActivity"
            android:exported="true" />
        <activity
            android:name=".trainee.TraineeTrackActivity01"
            android:exported="true" />
        <activity
            android:name=".trainee.TraineeTrackActivity02"
            android:exported="true" />
        <activity
            android:name=".trainee.TraineeTrackActivity03"
            android:exported="true" />
        <activity
            android:name=".trainee.TraineeTrackActivity04"
            android:exported="true" />
        <activity
            android:name=".trainee.TraineeTrackActivity05"
            android:exported="false" />
    </application>

</manifest>